/* CSS for Ace Editor Web Component
More info on the Ace Editor Web Component can be found here -
https://github.com/MarketingPipeline/Ace-Editor-Web-Component/
*/ 

.ace-editor-wc {
	 position: relative;
	 background-color: #3a3636;
	 background-color: var(--bg, #3a3636);
	 border-radius: 10px;
	 border: 1px solid var(--border, rgba(0, 0, 0, 0.1));
}
 .ace-editor-wc.line-number .AceEditor {
	 padding-left: 0px;
}
 .ace-editor-wc img {
	 max-width: 90% !important;
	 display: inline-block !important;
	 border-radius: 0 !important;
	 box-shadow: none !important;
}
 .ace-editor-wc .ace-editor-wc-pane {
	 height: 40px;
	 display: flex;
	 border-radius: 3px;
}
 .ace-editor-wc .ace-editor-wc-pane .ace-editor-wc-title {
	 flex: 1;
	 padding-left: 20px;
	 color: var(--title, #fff);
	 display: flex;
	 font-size: 14px;
	 font-family: 'Metropolis-Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
	 align-items: center;
	 opacity: 0.5;
	 text-transform: uppercase;
}
 .ace-editor-wc .ace-editor-wc-pane .ace-editor-wc-ctrl {
	 flex: 1;
	 display: flex;
	 justify-content: flex-end;
}
 .ace-editor-wc .ace-editor-wc-pane button.ck-button {
	 height: 40px;
	 padding: 0 16px;
	 font-size: 14px;
	 background: transparent;
	 border: none;
	 border-radius: 0;
	 color: var(--button-text, wheat);
	 opacity: 0.8;
	 outline: none;
	 display: flex;
	 align-items: center;
	 box-shadow: -1px 0 0 0 var(--button-border, rgba(0, 0, 0, 0.5));
}

.ace-editor-wc .ace-editor-wc-pane button.ck-button:focus{
outline: 2px solid white;
}
 .ace-editor-wc .ace-editor-wc-pane button.ck-button img {
	 height: 14px;
	 margin-right: 3px;
}
 .ace-editor-wc .ace-editor-wc-pane button.ck-button:hover {
	 opacity: 1;
}
 .ace-editor-wc .ace-editor-wc-pane button.ck-button:active {
	 opacity: 0.6;
}
 .ace-editor-wc pre {
	 background: transparent;
	 color: var(--code, white);
	 border-bottom-left-radius: 3px;
	 border-bottom-right-radius: 3px;
}
 .ace-editor-wc .AceEditor {
	 padding-left: 16px;
}
 .ace-editor-wc .AceEditor, .ace-editor-wc .ace-editor-wc-text {
	 font-size: 14px;
	 line-height: 18px;
	 height: auto;
}

 .ace-editor-wc .AceEditor, .ace-editor-wc .ace-editor-wc-text:focus {
 display:none;
}
 .ace-editor-wc .AceEditor pre, .ace-editor-wc .ace-editor-wc-text pre {
	 padding: 0 4px;
	 font-family: 'Menlo', 'Roboto Mono', 'Courier New', Courier, monospace !important;
}
 .ace-editor-wc .ace-editor-wc-text {
	 border: none;
	 width: 100%;
	 height: 100%;
	 border-radius: 0px 0px 10px 10px;
}
 .ace-editor-wc .ace-editor-wc-output {
	 display: none;
	 background: var(--bg, #3a3636);
	 font-family: 'Menlo', 'Roboto Mono', 'Courier New', Courier, monospace !important;
	 border-top: 1px solid var(--border, rgba(0, 0, 0, 0.1));
}
 .ace-editor-wc .ace-editor-wc-output .ace-editor-wc-output-title {
	 color: var(--text, white);
	 opacity: 0.6;
	 font-size: 12px;
	 margin: 0 10px 0 20px;
	 padding: 4px 0;
	 font-family: "Metropolis-Medium" -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
	 border-bottom-width: 1px;
	 border-bottom-style: solid;
	 border-bottom-color: rgba(255, 255, 255, 0.06);
}
 .ace-editor-wc .ace-editor-wc-output .ace-editor-wc-output-content {
	 color: var(--text, white);
	 white-space: pre-line;
	 padding: 8px 12px 8px 20px;
	 font-size: 14px;
	 overflow: auto;
	 white-space: pre-wrap;
}
 .ace-editor-wc .ace-editor-wc-output.html-output .ace-editor-wc-output-content {
	 max-width: 100% !important;
	 background: rgba(252, 253, 255, 1);
	 margin: 0 10px;
	 color: #000;
	 border-radius: 3px;
	 border: 1px solid var(--border, rgba(0, 0, 0, 0.1));
}
 .ace-editor-wc .ace-editor-wc-output.html-output .ace-editor-wc-output-content .katex .base {
	 margin: 10px 0;
}
 .ace-editor-wc .ace-editor-wc-footer {
	 background-color: #3a3636;
	 background-color: var(--bg, #3a3636);
	 height: 10px;
	 border-bottom-left-radius: 10px;
	 border-bottom-right-radius: 10px;
}
 .ace-editor-wc .ace-editor-wc-mask {
	 display: none;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 color: white;
	 z-index: 10;
	 align-items: center;
	 justify-content: center;
	 background: rgba(0, 0, 0, 0.4);
   
 
}
